.howtoplay{
    width: 900px;
    display: inline-block;
} 

  img {
    width: 400px;   /* increase this value as needed */
    height: auto;   /* keeps aspect ratio */
    border: 1px solid #ddd;
    border-radius: 8px; 
    margin-left: 140px;
  }

